.doWork {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
    width: 87%;
    margin: 15px auto;
    grid-gap: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.WorkTitle {
    text-align: center;
    margin: 5px 0;
}

.WorkTitle h2 {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.WorkTitle h3 {
    color: #2ca46d;
    font-size: 40px;
}

.working-sec {
    background: #232a34;
    padding: 15px 0;
}

.subWork {
    border: 1px solid #2d343e;
    background: #2d343e;
    padding: 12px;
    border-radius: 8px;

}

.subWork h1 {
    font-size: 43px;
    color: #2ca46d;
}

.subWork h2 {
    font-size: 26px;
    color: rgb(235, 236, 252);
    font-family: 'Quicksand', sans-serif;
}

.subWork p {
    font-family: 'Quicksand', sans-serif;
    color: rgb(235, 236, 252);
}

@media only screen and (max-width:980px) {
    .doWork {
        display: grid;
        grid-template-columns: repeat(2, 1fr);


    }



}

@media only screen and (max-width:500px) {
    .doWork {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

}