/* start css style */

.Skill-Sections {

    display: grid;
    place-items: center;
    
    font-family: "Roboto", sans-serif;
    width: 100%;
    
}





.progress-title {
    width: 90%;
    height: auto;
}

.progress-title h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    margin: 0 0 10px;
}

.progress {
    height: 10px;
    background: #abacb3;
    border-radius: 20px;
    border: 1px solid rgba(143, 183, 199, 0.658);
    box-shadow: 0 2px 2px #b6b0b0;
    margin-bottom: 22px;
    overflow: visible;
    position: relative;
}

.progress .progress-bar {
    border-radius: 20px;
    border: 1px solid #c5baba;
    animation: animate-positive 2s;
}

.progress .progress-value {
    width: 65px;
    height: 25px;
    line-height: 25px;
    background: #171b3c;
    font-size: 15px;
    color: #fff;
    border-radius: 0 0 15px 15px;
    border: 1px solid #000;
    border-top: none;
    box-shadow: 0 2px 2px #4f4c4c;
    position: absolute;
    bottom: -25px;
    right: 60px;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}