/* start css style */
.Skill-Sections {
    display: grid;
    place-items: center;
    font-family: "Roboto", sans-serif;
    width: 100%;
}
.progress-title {
    width: 90%;
    height: auto;
}

.progress-title h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    margin: 0 0 10px;
}

.progress {
    height: 8px;
    background: #e9eaec;
    border-radius: 20px;
    border: 1px solid rgba(235, 238, 240, 0.945);
    box-shadow: .5084rem 1.1419rem 2.5rem 0 rgba(0, 0, 0, 0.192);
    margin-bottom: 22px;
    overflow: visible;
    position: relative;
}

.progress .progress-bar {
    border-radius: 20px;
    border: 1px solid #eef3f3;
    animation: animate-positive 2s;
}

.progress .progress-value {
    width: 55px;
    height: 23px;
    line-height: 20px;
    background: #2a4b5e;
    font-size: 11px;
    color: #fff;
    border-radius: 0 0 15px 15px;
    border: 1px solid #fdfdfd;
    border-top: none;
    box-shadow: 0 2px 2px #f3eeee;
    position: absolute;
    bottom: -22px;
    right: 60px;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}