.about-part {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.text {
    
    padding-bottom: 10px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img {

    
    color: aqua;
    border-radius: 50%;

}

.aboutIcon span {
    font-size: 20px;
    /* border: 1 px solid rgb(252, 248, 248); */
    border: .3px solid rgba(255, 255, 255, 0.747);
    margin: 7px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;

    font-weight: bold;
    color: rgb(253, 251, 251);

}

.aboutIcon span:hover {

    color: rgb(0, 32, 51);
    background-color: white;


}



.btns {



    border: 1 px solid rosybrown;
    /* padding: 10px 15px; */
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; */
    background: #2ca46d;
    padding: 10px 30px;
    border-radius: 30px 30px 0px 30px;
    font-weight: bold;
    text-decoration: none;

    color: rgb(202, 214, 221);
    margin: 20px;


}

.btns:hover {
    color: rgb(16, 135, 172);
    background: white;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);

}

.ICON {
    opacity: 0;
}

.links {
    opacity: 0;
}


.slide-left {
    animation: slideleft 1s linear forwards;
}



@keyframes slideleft {
    0% {
        transform: translate(100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

.ICON.slide-left {
    animation-delay: 1s;
}

.links.slide-left {
    animation-delay: 2s;
}