
.ExHead{
background-color: #FAFAFB;
padding-bottom: 12px;
    
}
.stylePart {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.ExperienceDiv{
    border: none !important;
    border-radius: 20px;
}
.ExperienceDiv h4{
    color: rgb(6, 119, 113) !important;
}

.stylePart h4 {
    color: #d7d4e7;
}



.icons {
    text-align: center;
    position: relative;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

    color: #2ca46d;

    transition: .5s;
}

.icons:hover {
    color: rgb(6, 119, 113);
    transform: scale(.8);
}