.HeadTitle {

    text-align: center;

}

.HeadTitle h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.header {
    /* margin: 0 auto;
    margin-right: 40px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; */

    padding: 20px 0;
    color: #9ca6c5;

}

.ExHead {
    background: #151726;
}

.stylePart {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.card-body {
    background-color: rgb(156, 196, 183);

}

.card-body:hover {
    background-color: rgb(191, 207, 209);
}

.stylePart h4 {
    color: #483D8B;
}



.icons {
    text-align: center;
    position: relative;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

    color: #000024;

    transition: .5s;
}

.icons:hover {
    color: #010e38;
    transform: scale(.8);
}