.HeadTitle {

    text-align: center;

}

.HeadTitle h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.header {
    /* margin: 0 auto;
    margin-right: 40px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; */

    padding: 20px 0;
    color: #c4cadb;

}

.ExHead {
    background: #232a34;
}

.stylePart {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.card-body {
    background-color: #2d343e;

    color: rgba(255, 255, 255, 0.76);

}

/* .card-body:hover {
    background-color: #2f3846ee;
} */

.stylePart h4 {
    color: #d7d4e7;
}



.icons {
    text-align: center;
    position: relative;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

    color: #2ca46d;

    transition: .5s;
}

.icons:hover {
    color: #1f398dfb;
    transform: scale(.8);
}