.add-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    padding: 10px 0;
    background-color: rgb(222, 241, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add-card img {
    margin: auto;
    width: 60%;

}

.btn-part {
    margin: 10px;
}

button {
    border: 1px solid ghostwhite;
    font-size: 17px;
    font-weight: bold;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 6px 10px;
    background: linear-gradient(57deg, #00c6a7, #3374d4);
}




/* .portfolio_wrapper .card {
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border: 1px solid #FD4766;
    cursor: pointer;
    transition: all .4s;
}

.portfolio_wrapper .card span {
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}

.portfolio_wrapper .card:hover span {
    background-position: bottom center;
    box-shadow: 0px 2px 15px 0#fd4766;
}

.card.p-0:hover {
    box-shadow: 0 0 15px 0px #fd4766;
}

span.project h2 {
    width: 100%;
    margin-bottom: 35px;
} */

















@media only screen and (max-width:660px) {
    .add-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

}