.portfolio_wrapper{
    margin: 60px auto;
}
.HeadService {
    color: #131111da;
        font-size: xx-large;
        font-weight: bold;
    text-align: center;color: rgb(1, 11, 17);
}
.services-container {
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        width: 90%;
        margin: 25px auto;
}
.subtitle{
    font-size: 36px;
    font-weight: bold;
    color: #131111da;
    font-size: xx-large;
    

}
.portfolio_wrapper .card {
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border: 1px solid #dee5e9;
    cursor: pointer;
    transition: all .4s;
    margin-top: 40px;
}

.portfolio_wrapper .card span {
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}

.portfolio_wrapper .card:hover span {
    background-position: bottom center;
    box-shadow: 0px 2px 15px 0#fafcfc;
}

.card.p-0:hover {
    box-shadow: .5px  2px 5px 1px #e4e8eb;
}

span.project h2 {
    width: 100%;
    margin-bottom: 35px;
}

/* make services responsive */

@media only screen and (max-width:570px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width:570px) and (max-width:740px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
@media only screen and (min-width:740px) and (max-width:992px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}