.HeadService {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.services-title {
    text-align: center;
    color: rgb(1, 11, 17);
}


.services-container {
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        width: 90%;
        margin: 25px auto;

}



.subtitle{
    font-size: 36px;
    font-weight: bold;

}

.portfolio_wrapper .card {
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border: 1px solid #1e2224;
    cursor: pointer;
    transition: all .4s;
}

.portfolio_wrapper .card span {
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}

.portfolio_wrapper .card:hover span {
    background-position: bottom center;
    box-shadow: 0px 2px 15px 0#fafcfc;
}

.card.p-0:hover {
    box-shadow: 0 0 15px 0px #1e0536;
}

span.project h2 {
    width: 100%;
    margin-bottom: 35px;
}














/* make services responsive */

@media only screen and (max-width:570px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width:570px) and (max-width:992px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}