.service {

    margin-bottom: 10px;
    border: 1px solid rgb(230, 224, 224);
    padding: 5px 8px;
    border-radius: 10px;
    box-shadow: 5px 4px 4px 4px #d1c9c9;

}

.service:hover {
    background-color: rgb(247, 254, 255);
}

.button {
    border: 1px solid ghostwhite;
    font-size: 17px;
    font-weight: bold;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 8px 11px;
    background: linear-gradient(57deg, #24ecce, #4989e9);
}

.button:hover {
    background: linear-gradient(57deg, #669df0, #34ebcf);
}



.service img {

    width: 100%;
    height: 200px;
}

.service img:hover {
    /* width: 310px; */
}

.btn {
    background-color: rgb(156, 192, 226);
    color: rgb(3, 3, 3);
    border-radius: 5px;
    padding: 8px 10px;
    border: none;
}