.service {

    margin-bottom: 10px;
    border: 1 px solid #2d343e;
    padding: 10px 5px;
    border-radius: 7px;
    background-color: #FAFAFB;
    position: relative;
    overflow: hidden;
    color: rgb(15, 15, 15);
}

/* .service:hover {
    
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);

} */


.servicerBtnDiv{
    display: flex;
    justify-content:space-between;
}

.Butns {

    font-size: 12px;
    border: none;
    color: #fff;
    border-radius: 23px;
    padding: 5px 8px;
    color: #fff;
    background: #2ca46d;
    border: 2px solid #2ca46d;
    border-radius: 23px;
    
    border: none;
   



}




.Butns:hover {
    background: #2ca46d;
}

.service h4 {
    text-align: left;
    margin-top: 18px;
    padding: 2px 8px;
}

.service p {
    text-align: left;
    padding: 2px 8px
}



.service img {

    /* width: 90%; */
    margin: 0 auto;
    height: 200px;
    object-fit: cover;
}


.service:hover img {
    transform: scale(1.2);
    transition: transform 1.5s;
}



.btn {
    color: #fff;
    background: #2ca46d;
    border: 2px solid #2ca46d;
    border-radius: 23px;
    padding: 10px 18px;
    border: none;
    margin-bottom: 4px;
}

.btn:hover {
    color: #fff;
    background: #2ca46d;
    border: 2px solid #2ca46d;
    border-radius: 23px;
    padding: 10px 18px;
    border: none;
    margin-bottom: 4px;
}


.portfolio_wrapper .card {
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border: 1px solid #FD4766;
    cursor: pointer;
    transition: all .4s;
}

.portfolio_wrapper .card span {
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}

.portfolio_wrapper .card:hover span {
    background-position: bottom center;
    box-shadow: 0px 2px 15px 0#fd4766;
}

.card.p-0:hover {
    box-shadow: 0 0 15px 0px #fd4766;
}

span.project h2 {
    width: 100%;
    margin-bottom: 35px;
}