.HeadFooter {
    background-color: #0c1f34;
}

.footerPart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    color: aliceblue;
    padding-top: 2%;
    width: 85%;
    margin: 0 auto;
    grid-gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.working-logo-footer {
    width: 140px;
    padding-bottom: 20px;
}

.fSection {
    padding: 20px 0;
    margin-left: 5%;
    
}
.fSection h5{
   font-size: 18px;
}
.fSection h6{
    color: rgb(220, 224, 230);
    font-style: oblique;
    font-size: 18px;
    line-height: 26px;
    
}
.fSection h6:hover{
    color: #6244C5;
    margin-left: 2px;
    cursor: pointer;
    text-decoration: underline;
}
.fSection a{
    text-decoration: none;
}

.fSection span {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin: 3.5px;
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 22px;
    color: rgb(1, 8, 44);
    background: #dde1e7;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
}

.fSection span:hover {
    color: rgb(219, 243, 243);
    background: #0c1f34;
    cursor: pointer;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}



@media only screen and (max-width:980px) {
    .footerPart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }



}

@media only screen and (max-width:500px) {
    .footerPart {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

}