

.head {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.educationHead {
    padding-bottom: 8px;
}

.card-part {
    padding: 1.5rem;
    border-left: 3px solid rgb(24, 103, 105);
    position: relative;
    margin-left: 15px;

}

.card-part p {
    color: rgb(27, 29, 31);
        text-align: start;
    border-bottom: 2px solid rgb(183, 199, 209);

}

.card-part h6 {
color: rgb(39, 43, 46);
    text-align: start;
}

.card-part h5 {
    color: rgb(80, 123, 150);
    text-align: start;
}