.card {
    background: #2d343e;
}

.head {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-part {

    padding: 1.5rem;
    border-left: 3px solid rgb(24, 103, 105);
    position: relative;
    margin-left: 30px;

}

.card-part p {
    color: rgb(183, 199, 209);
    border-bottom: 2px solid rgb(183, 199, 209);

}

.card-part h6 {
    color: rgb(183, 199, 209);
}

.card-part h5 {
    color: rgb(183, 199, 209);
    font-weight: bold;
}